.add-note-card {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 2rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform: scale(1);
    cursor: pointer;
    width: 18%; /* O un valor fijo si es necesario, como 200px */
}

.add-note-card:hover {
    transform: scale(1.01); /* Cambio para hacer el efecto de hover más notable */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/* Asegurando que el Card.Title también esté centrado */
.card-title {
    margin: 0; /* Remueve márgenes adicionales si existen */
}
