body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }

  .navbar-button{
    font-size: 0.78rem;
  }

  .notifications-dropdown .dropdown-menu {
    width: 400px;  /* Ajusta este valor según tus necesidades para aumentar el ancho del dropdown */
}
