/* ListSection.css */
.list-section {
    position: relative;
  }
  
  .add-item-button {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .list-section:hover .add-item-button {
    opacity: 1;
    visibility: visible;
  }
  
  .list-section .list-group-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list-section .list-group-item:before {
    content: '•'; 
    color: #595959;
    font-size: 1.5rem;
    line-height: 1; 
    left: 0;
  }

  .list-section .list-group-item {
    padding: 0.1rem 1rem; 
    border: none; 
    display: flex;
    align-items: center; 
    gap: 0.5rem; 
  }
  
  .list-group-item .remove-item-button {
    display: none;
    margin-left: auto;
  }
  
  .list-group-item:hover .remove-item-button {
    display: block;
  }