.note-card:hover .action-buttons {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  .action-buttons {
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: space-evenly;
  }

  .note-card {
    width: 100%; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    transition: 0.3s; 
  }
  
  .note-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
  }

  .note-card .list-group {
    list-style: none;
  }
  
  .note-card .list-group-item {
    padding: 0.1rem 1rem; 
    border: none; 
    display: flex;
    align-items: center; 
    gap: 0.5rem; 
  }
  
  .note-card .list-group-item.checked:before {
    content: ''; 
    color: #28a745;
  }

  .note-card .list-group-item:before {
    content: '•';
    color: #595959; 
    font-size: 1.5rem; 
  }
  
  .note-card .list-group-item.checked .item-text {
    text-decoration: line-through; /* Aplicar tachado solo al texto */
    color: #6c757d; /* Color más suave para el texto tachado */
  }
  
  .note-card .list-group-item .check-icon {
    color: #28a745; /* Color del ícono de verificación */
  }