
.custom-btn-lg {
    padding: 0.5rem 1rem; 
    font-size: 1rem; 
    line-height: 1.5;
  }
  
  .icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem; 
  }
  
  .icon-button svg {
    width: 2em;
    height: 2em; 
  }
  
  .icon-button .bi { 
    font-size: 1.5rem; 
  }
  
  .title-input {
    font-weight: bold;
    font-size: 1.25rem; 
  }

  .image-preview-container {
    display: flex; /* Activa Flexbox para este contenedor */
    flex-wrap: wrap; /* Permite que los elementos se pasen a la siguiente línea si no hay espacio */
    gap: 10px; /* Espacio entre imágenes */
    justify-content: flex-start; /* Alinea los elementos al inicio del contenedor */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
}

.image-preview {
    width: 250px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Opcional: bordes redondeados para un aspecto más suave */
}

  
  