  .note-card .list-group {
    list-style: none;
  }
  
  .note-card .list-group-item {
    padding: 0.1rem 1rem; 
    border: none; 
    display: flex;
    align-items: center; 
    gap: 0.5rem; 
  }

  .note-card .list-group-item:before {
    content: '•'; 
    color: #595959;
    font-size: 1.5rem;
    line-height: 1; 
    left: 0;
  }

  .note-card .list-group-item.checked:before {
    content: '✓'; 
    color: #28a745; 
  }
  
  .note-card p.text {
    padding-top: 1rem; 
  }

  .note-card .list-group-item.unchecked:before {
    content: '◻';
  }

  .note-card .list-group-item.checked .item-text {
    text-decoration: line-through; 
    color: #6c757d; 
  }

  .note-card .friend-card-header-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px auto;
    overflow: hidden;
    border: none;
}

.note-card .friend-card-initials-circle {
    font-size: 1.5em;
    color: white;
    line-height: 40px; /* Esto debe ser igual a height y width para centrar el texto verticalmente */
}