  .note-card .list-group {
    list-style: none;
  }
  
  .note-card .list-group-item {
    padding: 0.1rem 1rem; 
    border: none; 
    display: flex;
    align-items: center; 
    gap: 0.5rem; 
  }

  .note-card .list-group-item:before {
    content: '•'; 
    color: #595959;
    font-size: 1.5rem;
    line-height: 1; 
    left: 0;
  }

  .note-card .list-group-item.checked:before {
    content: '✓'; 
    color: #28a745; 
  }
  
  .note-card p.text {
    padding-top: 1rem; 
  }

  .note-card .list-group-item.unchecked:before {
    content: '◻';
  }

  .note-card .list-group-item.checked .item-text {
    text-decoration: line-through; 
    color: #6c757d; 
  }

  .note-card .friend-card-header-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px; /* Reducido de 40px a 30px */
    width: 30px; /* Reducido de 40px a 30px */
    border-radius: 50%;
    margin: 5px; /* Reducido para menos espacio entre círculos */
    overflow: hidden;
    border: none;
}

.note-card .friend-card-initials-circle {
    font-size: 1em; /* Ajustado para un círculo más pequeño */
    color: white;
    line-height: 30px; /* Ajustado para coincidir con las nuevas dimensiones */
}

.note-card .friend-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}