/* NotifyCard.css */
.notify-card {
    max-width: 90%; /* Limitar el ancho máximo */
    margin: 5px auto; /* Centrado y con un margen más pequeño */
}
.notify-card-body {
    padding: 10px; /* Ajustar padding según sea necesario */
}

  
  .notify-card-text {
    font-size: 16px; /* Ajusta el tamaño del texto principal */
    font-weight: bold; /* Hacer el texto más legible */
  }
  
  .notify-card-date {
    font-size: 12px; /* Texto más pequeño para la fecha */
    color: gray; /* Color grisáceo para la fecha */
    margin-top: 5px; /* Espacio entre el texto principal y la fecha */
  }
  
  .notify-button {
    white-space: nowrap; /* Previene que el texto se divida en varias líneas */
    overflow: hidden; /* Mantiene el contenido dentro del botón */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
    padding: 5px 10px; /* Ajusta el acolchado para dar más espacio al texto */
    font-size: 14px; /* Ajusta el tamaño de la fuente según sea necesario */
    width: auto; /* Asegúrate de que el ancho se ajusta al contenido */
}

.notify-card .notify-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px auto;
    overflow: hidden;
    border: none;
}

.notify-card .notify-card-initials {
    font-size: 1.5em;
    color: white;
    line-height: 40px; /* Esto debe ser igual a height y width para centrar el texto verticalmente */
}



  