.user-profile-container .user-profile {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-profile-container .section {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.user-profile-container .form-group {
  margin-bottom: 20px;
}

.user-profile-container .form-group label {
  display: block;
  margin-bottom: 5px;
}

.user-profile-container .form-group input {
  width: calc(100% - 20px);  /* Ajuste para dar espacio a los bordes */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; /* Ajuste para un tamaño de fuente más grande */
}

.user-profile-container .btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: block; /* Asegura que los botones se muestren en su propia línea */
  width: auto; /* Permite que el ancho del botón se ajuste al contenido */
}

.user-profile-container .cancel-button-container {
  display: flex;
  justify-content: flex-end; /* Alinea el botón a la derecha */
  margin-top: 5px; /* Espacio arriba para separarlo de los otros elementos */
}

.user-profile-container .btn.cancel-btn {
  padding: 10px 20px; /* Tamaño adecuado del botón */
}


.user-profile-container .error-message {
  color: red;
  margin-top: 10px;
}
